body{
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 300;
  text-decoration: none !important;
}

.page-header{
  background-color: rgb(255, 255, 255) !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.page-header h1{
  font-weight: 300;
  color: rgb(82, 82, 82);
}

.serverHome{
  height: 100vh;
}

.eachServer{
  height: 80vh;
  border: 1px solid black;
  padding: 0;
  box-shadow: -7px 10px 16px -5px rgba(61,61,61,1);
}

.serverName{
  width: 100%;
  background-color: silver;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.details{
  margin-top: 20px;
}

.cardContainer{
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.responseTime{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 30%;
  box-shadow: -7px 10px 16px -5px rgba(61,61,61,1);
}

.responseTimeSingle{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;;
  height: 30%;
  box-shadow: -7px 10px 16px -5px rgba(61,61,61,1);
}

.responseTime>h3{
  width: 90%;
  text-align: center;
  margin: 5px 0;
}

.responseTimeSingle>h3{
  width: 90%;
  text-align: center;
  margin: 5px 0;
}

.good{
  background-color: rgba(84, 158, 89, 0.82);
}

.warning{
  background-color: rgba(158, 142, 36, 0.86);
}

.critical{
  background-color: rgba(144, 55, 55, 0.87);
}

a h1, a h2, a h3, a h4, a h5 {
  color: black;
}

a:hover h1, a:hover h2, a:hover h3, a:hover h4{
  text-decoration: none;
  top: +10px;
}

.backButton{
  align-self: flex-end;
  margin-top: 40px;
  border-radius: 5px;
}
