.serverHome{
  height: 100vh;
}

.eachServer{
  height: 80vh;
  border: 1px solid black;
}

.serverName{
  width: 100%;
  border: 1px solid black;
  background-color: silver;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.responseTime{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.responseTime>h3{
  width: 90%;
  border: 1px solid black;
}

.responseTimeSingle>h3{
  width: 50%;
  border: 1px solid black;
}
