<div class="row serverHome">
  <div class="col-md-4 eachServer" ng-repeat="server in servers">
    <a ng-href="/#/server/{{server.id}}">
      <div class="serverName" >
        <h2>{{server.name}}</h2>
      </div>
      <div class="responseTime">
        <h3 ng-class="{'good': server.responseTime <= 0.05, 'warning': server.responseTime > 0.05 &&  server.responseTime <= 0.5, 'critical': server.responseTime > 0.5}">Response Time {{server.responseTime * 1000 | number:0 }}ms</h3>
      </div>
    </a>
  </div>
</div>
